[Desktop Entry]
Type=Application
Name=Nyan-Launcher
Comment=launcher for a enhanced clone of the classic first-person shooter Doom
Icon=nyan-doom
TryExec=nyan-doom
Exec=nyan-launcher
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;dsda-doom;
